@model IQueryable<Service>
<div class="col-4 col-12-medium">
    <div id="sidebar">
        <section>
            <header class="major">
                <span>Контакты</span>
            </header>
            <header>
                <span class="date"><b>Телефон:</b> <a href="tel:@Config.CompanyPhoneShort">@Config.CompanyPhone</a></span>
                <span class="date"><b>Email:</b> <a href="mailto:@Config.CompanyEmail">@Config.CompanyEmail</a></span>
            </header>
            <footer>
                <a asp-area="" asp-controller="Home" asp-action="Info" asp-route-id="callback" class="button icon solid fa-arrow-circle-right">Заказать эту услугу</a>
            </footer>
        </section>
        <section>
            <header class="major">
                <span>Услуги</span>
            </header>
            <ul>
                @foreach (var item in Model)
                {
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Info" asp-route-id="@item.Url">@(String.IsNullOrEmpty(item.MenuName) ? item.H1 : item.MenuName)</a>                        
                    </li>
                }
            </ul>
        </section>
    </div>
</div>

