@model IQueryable<Page>
    <nav id="nav">
        <ul>
            @foreach (var item in Model)
            {
                if (item.Url != "index")
                {
                    <li><a asp-area="" asp-controller="Home" asp-action="Info" asp-route-id="@item.Url">@item.H1</a></li>
                }
            }

        </ul>
    </nav>