<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="right-sidebar is-preload">
    <div id="page-wrapper">
        @await Html.PartialAsync("HeaderPartial")
        <div id="main-wrapper">
            <div class="wrapper style2">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-8 col-12-medium">
                                <div id="content">
                                    <article>
                                        @RenderBody()
                                    </article>
                                </div>
                            </div>
                            @await Html.PartialAsync("SidebarPartial")
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("RecentPartial")
        </div>
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>