<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetaPartial.cshtml")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="left-sidebar is-preload">
    <div id="page-wrapper">

        <!-- Header Wrapper -->
        <div id="header-wrapper">
            <div class="container">

                <!-- Header -->
                <header id="header">
                    <div class="inner">

                        <!-- Logo -->
                        @await Html.PartialAsync("LogoPartial")

                        <!-- Nav -->
                        @await Html.PartialAsync("NavPartial")

                    </div>
                </header>

            </div>
        </div>

        <!-- Main Wrapper -->
        <div id="main-wrapper">
            <div class="wrapper style2">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 col-12-medium">
                                @await Html.PartialAsync("SidebarPartial");
                            </div>
                            <div class="col-8 col-12-medium imp-medium">
                                <div id="content">

                                    <!-- Content -->

                                    <article>
                                        @RenderBody()
                                    </article>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("Wrapper3Partial")
        </div>

        <!-- Footer Wrapper -->
        @await Html.PartialAsync("FooterPartial")

    </div>

    <!-- Scripts -->
    @await Html.PartialAsync("ScriptsPartial")

</body>
</html>