<!DOCTYPE html>
<html lang="ru">

<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("CssPartial")
</head>

<body>
    <div class="body-inner">
        <div id="topbar" class="topbar-transparent topbar-fullwidth dark d-none d-xl-block d-lg-block">
            @await Html.PartialAsync("TopbarPartial")
        </div>
        <header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
            <div class="header-inner">
                <div class="container">
                    @await Html.PartialAsync("LogoPartial")
                    @await Html.PartialAsync("NavigationResposniveTriggerPartial")
                    @await Html.PartialAsync("MenuPartial")
                </div>
            </div>
        </header>        
            @RenderBody()
            @await Html.PartialAsync("FooterPartial")
</div>
    <!-- end: Body Inner -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>