<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("MetaPartial.cshtml")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="left-sidebar is-preload">
    <div id="page-wrapper">
        <div id="header-wrapper">
            <div class="container">
                <header id="header">
                    <div class="inner">
                        @await Html.PartialAsync("LogoPartial")
                        @await Html.PartialAsync("NavPartial")
                    </div>
                </header>
            </div>
        </div>
        <div id="main-wrapper">
            <div class="wrapper style2">
                <div class="inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-4 col-12-medium">
                                @await Html.PartialAsync("SidebarPartial")
                            </div>
                            <div class="col-8 col-12-medium imp-medium">
                                <div id="content">
                                    <article>
                                        @RenderBody()
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("FooterPartial")
    </div>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>