<title>@ViewBag.Title = Model.seoTitle == null ? Config.CompanyName : Model.seoTitle</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="@ViewBag.Description = Model.seoDescription == null ? Config.CompanyName : Model.seoDescription" />