@{ 
    Layout = "_LayoutWhite";
    ViewBag.Title = ViewBag.StatusCode;
}

<section class="m-t-80 p-b-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-error-404">@ViewBag.StatusCode</div>
            </div>
            <div class="col-lg-6">
                <div class="text-left">
                    <h1 class="text-medium">Поздравляем!</h1>
                    <p class="lead">Вы нашли ошибку на сайте! Сообщите об этом по номеру @Config.CompanyPhone и получите скидку 10% на любую услугу!</p>
                    <div class="seperator m-t-20 m-b-20"></div>
                    <a href="/">На главную</a>
                </div>
            </div>
        </div>
    </div>
</section>