@model siteNetCore31.Domain.Entities.Page
@{
    Layout = "_LayoutNoSidebar";
    ViewBag.Title = Model.seoTitle == null ? Model.H1 : Model.seoTitle;
    ViewBag.Description = Model.seoDescription == null ? Model.H1 : Model.seoDescription;
}
<header class="major">
    <h1>@Model.H1</h1>
</header>
<p>@Html.Raw(Model.Text)</p>