@model Service
@{
    Layout = "_LayoutLeftSidebar";
    ViewBag.Title = Model.seoTitle;
    ViewBag.Description = Model.seoDescription;
}

<header class="major">
    <h1>@Model.H1</h1>
    <p>@Model.ShortDescription</p>
</header>
<span class="image featured"><img src="~/images/@Model.Image" alt="@Model.H1" /></span>
<p>@Html.Raw(Model.Text)</p>